body {
  background: papayawhip;
}
.a {
  background: #7b5858;
  width: 100%;
  height: 100px;
  text-align: center;
  border: solid 5px black;
  margin: 10px;
  }

  .b {
    background: #8b4545;
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 10px;
    }

    .c, .d, .e {
      background: #721919;
      width: 100%;
      height: 100px;
      display: table;
      text-align: center;
      border: solid 5px black;
      margin: 10px;
      }

      .f {
        background: #340101;
        width: 100%;
        height: 100px;
        text-align: center;
        border: solid 5px black;
        margin: 10px;
        }